<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xhaw5112final">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XHAW5112FINAL"
        tools:targetApi="31">
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".LifeSkills"
            android:exported="false" />
        <activity
            android:name=".Landscaping"
            android:exported="false" />
        <activity
            android:name=".Sewing"
            android:exported="false" />
        <activity
            android:name=".FirstAid"
            android:exported="false" />
        <activity
            android:name=".GardenMaintenance"
            android:exported="false" />
        <activity
            android:name=".Cooking"
            android:exported="false" />
        <activity
            android:name=".ChildMinding"
            android:exported="false" />
        <activity
            android:name=".Week"
            android:exported="false" />
        <activity
            android:name=".Month"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>